/* body{background-color: aquamarine;} */
img {
    max-width: 100%;
}

pre {
    font-size: 1.2em;
}

.oculta {
    display: none;
}

.exibe {
    display: inline;
}

.coresBrasil {
    color: black;
    background-color: red;
}

.coresPelotas {
    color: blue;
    background-color: yellow;
}

.coresFarroupilha {
    color: green;
    background-color: white;
}

#outServicoVeiculo{
    margin-left: 120px;
    background-color: blueviolet;
}

.conteiner-fluid {
    margin-right: 50px;
}
#servicosPendentes{
    text-align: right;
}